.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(244, 249, 255);
  position: absolute;
  left: 25%;
  top: 10%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 30px;
}
